<header class="header">
  <div class="container">
    <div class="nav-wrapper">
      <div class="nav-item-container">
        <img
          src="../../assets/icons/Logo.png"
          alt="Online Zoo Logo"
          class="logo-img"
        />
      </div>
      <div class="nav-item-container">
        <nav class="nav-menu">
          <a href="/pages/landing/index.html" class="nav-link">ABOUT</a>
          <a href="/pages/map/index.html" class="nav-link">MAP</a>
          <a href="/pages/livezoo/index.html" class="nav-link">ZOOS</a>
          <a href="/pages/contact_us/index.html" class="nav-link">CONTACT US</a>
          <a
            href="https://www.figma.com/design/lnK11foY8Aoa6oOlDXovVN/Online-ZOO-Project?node-id=0-1&p=f&t=2K0kCjfsJ31ypZT5-0"
            class="nav-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            DESIGN
          </a>
        </nav>
      </div>

      <div class="nav-item-container social-placeholder" aria-hidden="true">
        <a href="https://www.youtube.com/" target="_blank">
          <img
            src="../../assets/icons/YouTube.png"
            alt="YouTube Icon"
            class="social-icon"
          />
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <img
            src="../../assets/icons/Instagram.png"
            alt="Instagram Icon"
            class="social-icon"
          />
        </a>

        <a href="https://www.facebook.com/" target="_blank">
          <img
            src="../../assets/icons/Facebook.png"
            alt="Facebook Icon"
            class="social-icon"
          />
        </a>
      </div>
    </div>
  </div>
</header>
