    <header class="header">
      <div class="container">
        <div class="nav-wrapper">
          <div class="nav-item-container">
            <img
              src="../../assets/icons/Logo.png"
              alt="Online Zoo Logo"
              class="logo-img"
            />
          </div>
          <div class="nav-item-container">
            <nav class="nav-menu">
              <a href="#about" class="nav-link">ABOUT</a>
              <a href="/pages/map/index.html#map" class="nav-link">MAP</a>
              <a href="/pages/petsinzoo/index.html#zoos" class="nav-link"
                >ZOOS</a
              >
              <a href="#contact" class="nav-link">CONTACT US</a>
              <a href="#design" class="nav-link">DESIGN</a>
            </nav>
          </div>

          <div class="nav-item-container social-placeholder" aria-hidden="true">
            <img
              src="../../assets/icons/YouTube.png"
              alt="YouTube Icon"
              class="social-icon"
            />
            <img
              src="../../assets/icons/Instagram.png"
              alt="Instagram Icon"
              class="social-icon"
            />
            <img
              src="../../assets/icons/Facebook.png"
              alt="Facebook Icon"
              class="social-icon"
            />
          </div>
        </div>
      </div>
    </header>